.homeLink {
  color: var(--primary-color);
  text-align: center;
}

.about__Content {
  display: flex;
  margin: 30px 0;
  justify-content: center;
  align-items: center;
}

.about__Content p {
  margin: 10px;
}

.email__Link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 20px;
  margin-top: 15px;
}
